@{
    ViewBag.Title = "Error";
}

<div class="flex flex-center-column flex-center-vertical">
    <h1 style="font-size:30px">Error</h1>
    <h2 style="font-size: 25px; color: darkred">@ViewBag.ErrorMessage</h2>

    <img src="./Images/error.svg" width="400" style="margin-top: 100px" />
</div>
