@model LoginDTO

@{
    Layout = "_LayoutNotLogged";
    ViewBag.Title = "Login";
    ViewBag.BreadCrumbController = "Account";
    ViewBag.BreadCrumbAction = "Login";
}

<div class="center-box">
    @await Html.PartialAsync("_BreadCrumb")

    <div class="form-container">
        Don't have account yet? <a asp-action="Register" asp-controller="Account" class="link-hover">Register</a> 
        <h2 class="text-large">Login</h2>

        <form asp-controller="Account" asp-action="Login" asp-route-ReturnUrl="@Context.Request.Query["ReturnUrl"]" method="post">
            <div class="form-field-input">
                <label asp-for="Email">Person Email</label>
                <input asp-for="Email" placeholder="Type your email here" />
                <span asp-validation-for="Email" class="validate-message"></span>
            </div>

            <div class="form-field-input">
                <label asp-for="Password">Password</label>
                <input asp-for="Password" placeholder="**********" />
                <span asp-validation-for="Password" class="validate-message"></span>
            </div>

            <div class="form-field">
                <div class="checkbox-input">
                    <label asp-for="RememberMe">Remember me?</label>
                    <input asp-for="RememberMe" />
                    <span asp-validation-for="RememberMe" class="validate-message"></span>
                </div>
            </div>

            <div class="form-field">
                <div class="checkbox-input">
                    <button type="submit" class="button button-blue-back">Login</button>
                </div>
            </div>

            <div class="form-field-input">
                <div class="text-red" asp-validation-summary="All"></div>
            </div>

            <div class="form-field">
                @if (ViewBag.Errors != null)
                {
                    <div class="text-red ml">
                        <ul>
                            @foreach (string error in ViewBag.Errors)
                            {
                                <li class="text-red">@error</li>
                            }
                        </ul>
                    </div>
                }
            </div>
        </form>
    </div>
</div>

@section scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" asp-fallback-test="window.jQuery" asp-fallback-src="~/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.4/jquery.validate.min.js" asp-fallback-test="window.jQuery.validator" asp-fallback-src="~/jquery.validate.min.js" integrity="sha512-FOhq9HThdn7ltbK8abmGn60A/EMtEzIzv1rvuh+DqzJtSGq8BRdEN0U+j0iKEIffiw/yEtVuladk6rsG4X6Uqg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js" asp-fallback-test="window.jQuery.validator.unobtrusive" asp-fallback-src="~/jquery.validate.unobtrusive.min" integrity="sha512-o6XqxgrUsKmchwy9G5VRNWSSxTS4Urr4loO6/0hYdpWmFUfHqGzawGxeQGMDqYzxjY9sbktPbNlkIQJWagVZQg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
}