@import url("https://fonts.googleapis.com/css2?family=Bakbak+One&family=Oxanium:wght@400;500;600;700;800&display=swap");

:root {
    --primary-color: #DAFFFB;
    --primary-color-lighter: #f8fffe;
    --primary-color-darker: #576664;
    --secondary-color: #64CCC5;
    --tertiary-color: #176B87;
    --dark-color: #00080e;
    --white-color: #f0fffd;
    --fonte-principal: Arial, sans-serif;
    --gray-color: #576664;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*:focus-visible {
  outline: var(--secondary-color) 5px solid;
}

*::selection {
  color: var(--dark-color);
  background-color: var(--primary-color);
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  line-height: 1;
  font-weight: 400;
  color: var(--white-color);
  font-family: var(--fonte-principal);
  background: linear-gradient(to right, #000e18, var(--dark-color));
}

.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.grid {
  display: grid;
  column-gap: 8.4rem;
  row-gap: 9.6rem;
  justify-content: center;
}

.grid-vertical-center{
    align-items: center;
}

.tag {
    background-color: var(--secondary-color);
    color: var(--dark-color);
    padding: 1rem 1.2rem;
    border-radius: 5px;
    display: inline-block;
}

.grid--2--cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3--cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--4--cols {
  grid-template-columns: repeat(4, 1fr);
}

.grid--5--cols {
  grid-template-columns: repeat(5, 1fr);
}

.grid--6--cols {
    grid-template-columns: repeat(6, 1fr);
}

.flex {
    display: flex;
    align-items: center;
    gap: 1.2rem;
}

.flex-more-spaced {
    gap: 3.2rem;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.flex-center-vertical {
    align-items: center;
}

.flex-spaced{
    justify-content: space-between;
}

.flex-center-column {
  flex-direction: column;
}

.input-field{
    border-radius: 5px;
    background-color: var(--white-color);
    color: var(--dark-color);
    padding: 1.25rem 0.8rem;
    border: none;
}

.btn-full,
.btn-outline {
    text-decoration:none;
  display: flex;
  gap: 1rem;
  align-items: center;
  text-align: center;
  border: none;
  border-radius: 3px;
  padding: 1.2rem 3.6rem;
  font-size: 1.8rem;
  cursor: pointer;
  transition: all 0.3s;
  font-weight: 600;
}

.btn-full {
  background-color: var(--primary-color);
  color: var(--dark-color);
}


.btn-full:hover,
.btn-full:active {
  box-shadow: inset 0 0 0 2px var(--primary-color);
  color: var(--dark-color);
  background-color: var(--white-color);
}

.btn-outline:link,
.btn-outline:visited {
    background-color: var(--primary-color);
    color: var(--dark-color);
    box-shadow: inset 0 0 0 2px var(--primary-color);
}

.btn-outline:hover,
.btn-outline:active {
    box-shadow: inset 0 0 0 2px var(--white-color);
    color: var(--white-color);
    background-color: transparent;
}

.primary-heading,
.secondary-heading,
.heading-tertiary,
.subheading {
  color: var(--primary-color);
  letter-spacing: -1.3px;
}

.primary-heading {
  font-size: 6.2rem;
  font-weight: 500;
}

.secondary-heading {
  font-size: 3.2rem;
  margin-bottom: 2.4rem;
  font-weight: 200;
}

.heading-tertiary {
  font-size: 2.2rem;
  font-weight: 200;
  margin-bottom: 2.6rem;
}

.subheading {
  font-weight: 800;
  font-size: 2.6rem;
  text-transform: uppercase;

}

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.list-item {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
  line-height: 1.2;
}

.list-icon {
  width: 3rem;
  height: 3rem;
  color: var(--primary-color);
}

.input-box input{
    width: 100%;
    display: block;
    border: 1px solid var(--dark-color);
    padding: 0.6rem 1.4rem;
}

.input-box label {
    font-size: 1.6rem;
}

.input-box span{
   color: red;
}

/* Helper Classes */

.element-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  scale: 0.2;
  transition: all 1s;
}

.element-showed {
  opacity: 100 !important;
  pointer-events: all !important;
  visibility: visible !important;
  transition: all 1s;
  scale: 1;
  z-index: 9;
}

.mg-lf-sm {
  margin-left: 1.2rem !important;
}

.mg-lf-md {
  margin-left: 2rem !important;
}

.mg-lf-bg {
  margin-left: 3.2rem !important;
}

.mg-rg-sm {
  margin-right: 1.2rem !important;
}

.mg-rg-md {
  margin-right: 2rem !important;
}

.mg-rg-bg {
  margin-right: 3.2rem !important;
}

.mg-tp-sm {
  margin-top: 1.2rem !important;
}

.mg-tp-md {
  margin-top: 2rem !important;
}

.mg-tp-bg {
  margin-top: 3.2rem !important;
}

.mg-bt-sm {
  margin-bottom: 1.2rem !important;
}

.mg-bt-md {
  margin-bottom: 2rem !important;
}

.mg-bt-bg {
  margin-bottom: 3.2rem !important;
}

.descriptive-text {
  font-size: 1.6rem;
  line-height: 1.4;
}


/* Layout */

.header-container {
    padding: 3.2rem 0;
}

.logo-box {
    font-size: 2.5rem;
}

.logo-text {
    color: var(--white-color);
    text-decoration: none;
}

.nav-list {
    align-items: center;
    flex-direction: row;
}

.nav-item {
    text-decoration: none;
    font-size: 2rem;
    color: var(--white-color);
}

/* end */
