
@{
    ViewBag.Title = "Error";
}

<div class="text-center">
    <h1>Error</h1>
    <h2 class="text-red">@ViewBag.ErrorMessage</h2>

    <img src="/Images/error.svg" width="400" style="margin-top: 100px"/>
</div>