<div class="flex">
    <div class="flex-1 flex">
        <div class="text-grey">
            <span class="text-grey">Contacts</span>
            <i class="fa-solid fa-caret-right"></i>
            <span class="text-grey">@ViewBag.BreadCrumbController</span>
            <i class="fa-solid fa-caret-right"></i>
            <span class="text-grey">@ViewBag.BreadCrumbAction</span>
        </div>
    </div>
    <div class="flex-1 text-right">
        <a asp-controller="Persons" asp-action="Index" class="button-blue-back button-link">Back to People List</a>
    </div>
</div>